.home{
    align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 35vh;
}
p{
  margin-top: 3%;
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(100, 96, 96);

  
}
@media( max-width:500px){
  .home{ 
  justify-content: space-evenly;
  height: 25vh;}
  
}