.home{
    align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 35vh;
  margin-top: 10%;
  padding-top: 50px;
  padding-bottom: 40px;
}
.span{
  
  font-size: 2em;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  background-color: black;

  
}
@media( max-width:500px){
  .home{ 
  justify-content: space-evenly;
  height: 25vh;}
  .span{
      
  }
}