.home{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 35vh;
  width: 100%;
  padding-bottom: 21%;
  margin-top: 10%;
}
.span{
  
  font-size: 2vw;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  background-color: black;

  
}
@media( max-width:900px){
  .home{ 
  justify-content: space-evenly;
  height: 25vh;}
  .span{
      font-size: 11vw;
  }
}